@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
* {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }
body {
    background-color: transparent;
    font-weight: normal;
    font-style: normal;
  margin: 0;
  padding: 0;
  border: 0; }
h3 {
    font-family: 'Noto Sans', serif;
    font-size: 2em;
    color: #333;
}
p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    color: #666;
    margin: 30px 0;
}
.image {
    background: url('ROBIN AND MAIA 144.JPG') no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 450px;
}
.content {
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    z-index: 2;
  /*  height: 100%;*/
}
a:link, a:visited {
        color: #666;
        text-decoration: underline; }
a:hover {
        color: #01c59f; }



        /* The Overlay (background) */
        .overlay {
          /* Height & width depends on how you want to reveal the overlay (see JS below) */
          height: 100%;
          width: 0;
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          left: 0;
          top: 0;
          background-color: rgb(0,0,0); /* Black fallback color */
          background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
          overflow-x: hidden; /* Disable horizontal scroll */
          transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
        }

        /* Position the content inside the overlay */
        .overlay-content {
          position: relative;
          top: 25%; /* 25% from the top */
          width: 100%; /* 100% width */
          text-align: center; /* Centered text/links */
          margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
        }

        /* The navigation links inside the overlay */
        .overlay a {
          padding: 8px;
          text-decoration: none;
          font-size: 36px;
          color: #818181;
          display: block; /* Display block instead of inline */
          transition: 0.3s; /* Transition effects on hover (color) */
        }

        /* When you mouse over the navigation links, change their color */
        .overlay a:hover, .overlay a:focus {
          color: #f1f1f1;
        }

        /* Position the close button (top right corner) */
        .overlay .closebtn {
          position: absolute;
          top: 20px;
          right: 45px;
          font-size: 60px;
        }


        body {
          background-color: #DDDDDD;
        }

        nav {
          position: absolute;
          	width: 100%;
          	/*max-width: 50%;
              top: 50%;
              left: 50%;
            /*  transform: translate(-50%,-50%);*/
          background-color: transparent;
        /*z-index: 5;*/
        }
        div .menuIcon {
          width: 35px;
          height: 5px;
          background-color: black;
          margin: 6px 0;
        }
        .menu {
          cursor: pointer;
        }

        .name {
          color: #44;
          font-size: 2em;
          display: block;
          backdrop-filter: blur(5px);
          max-width: 17%;
        }

        @media (orientation: portrait) {
        .image {
            min-height: 1200px;
            background: url('ROBIN AND MAIA 136.JPG');
           background-size: 100%;
          }
          .name {
            font-size: 4em;
            width: 35%;
          }
        .content {
            height: 25%;
          }

        }
