* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 77%;
  position: relative;
  margin: auto;
  margin-bottom: 0;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  font-family: 'Noto Sans', sans-serif;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  font-family: 'Noto Sans', sans-serif;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


body {
  background-color: #DDDDDD;
}

nav {
  position: absolute;
  	width: 100%;
  	/*max-width: 50%;
      top: 50%;
      left: 50%;
    /*  transform: translate(-50%,-50%);*/
  background-color: transparent;
/*z-index: 5;*/
}
div .menuIcon {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
.menu {
  cursor: pointer;
}

.name {
  /*color: #BDBDBD;*/
  font-size: 2em;
  font-family: 'Noto Sans', sans-serif;
  display: block;
  backdrop-filter: blur(5px);
}
/*.aboutImage {
  width: 80%;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
.par-one {
  grid-column: 2;
}*/
.blabla {
  width: 100%;
}
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-width: 450px) {
 /* .overlay a {font-size: 20px}*/
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
}

  /*
@media (orientation:portrait) {
  .portait {
    display: block;
  }
  .landscape {
    display: none;
  }
 }
@media (orientation:landscape) {
  .landscape {
    display: block;
  }
  .portrait {
    display: none;
  }
   }
/*
.blabla {
  border: solid red 10px;
  height: 200px;
}
.slideshow-container {
    max-width: 100%;
} */
