@media (orientation:portrait) {
  .portait {
    display: block;

  }
  .landscape {
    display: none;
  }
  .name {
    font-size: 5em;
    max-width: 50%;
    float: right;
    padding-right: 5%;
  }
  .slideshow-container {
    max-width: 100%;
  }
   .overlay a {
             padding: 40px;
              font-size: 55px;
          }
    div .menuIcon {
            width: 70px;
            height: 15px;
  }
  .overlay .closebtn {
    font-size: 100px;
  }
}

@media (orientation:landscape) {
  .landscape {
    display: block;
  }
  .portrait {
    display: none;
  }
  .dot {
    display: none;
  }
  .name {
    max-width: 35%;
    float: right;
    padding-right: 5%;
    font-size: 2em;
  }

}
